<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Application</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header') %> 
            <h1>Admin Dashboard</h1>
            <br>
            <a href="/admin/signout">Signout</a>
            <br><br>
            <button class="bg-green-600 text-white px-5 py-1 5 rounded font-medium mr-2 mb-2">Create Election</button>
            <br><br>
            <%- include('electionCard', {title: "Elections Created but not Launched", elections: elections, id: "elections"}) %>
            <%- include('electionCard', {title: "Live Elections", elections: liveElections, id: "live-elections"}) %>
        </div> 
    </div>
    
</body>
</html>